<% content_for :head do %>
  <link type="text/css" rel="stylesheet" href="https://api.jirafe.com/dashboard/css/spree_ui.css" media="all" />
  <script type="text/javascript" src="https://api.jirafe.com/dashboard/js/spree_ui.js"></script>
<% end %>

<h1><%= t(:overview) %></h1>

<% if SpreeAnalytics.configured? %>
  <div id="jirafe"></div>
  <script type="text/javascript" defer="defer">
      if (typeof jQuery != 'undefined') { 
          (function($) {
           $('#jirafe').jirafe({
              api_url:    '<%= SpreeAnalytics.api_url %>',
              api_token:  '<%= SpreeAnalytics.token %>',
              app_id:     '<%= SpreeAnalytics.app_id %>',
              version:    'spree-v0.1.0'
              });
           })(jQuery);
      }
      setTimeout(function() {
              if ($('mod-jirafe') == undefined){
              $('messages').insert ("<ul class=\"messages\"><li class=\"error-msg\">We're unable to connect with the Jirafe service for the moment. Please wait a few minutes and refresh this page later.</li></ul>");
              }
              }, 10000);
    </script>
<% else %>
  <p>Spree Analytics has not been configured correctly. Make sure you add the initializer file</p>
<% end %>

